<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    联系我们
</div>
<div>
    陈俊飞 <%= name %>
</div>
<p>
    s18310346560
</p>
</body>
</html>