<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
<% include ../public/nav.ejs %>
<div>
    联系我们
</div>
<div>
    陈俊飞
    <div style="color: indianred">
        <%= name %>
    </div>

</div>
<p>
   联系我们18310346560
    18010040153
</p>
</body>
</html>