<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
<div>
    <% include ../public/nav.ejs %> <!-- 引入公共模板-->

   主页面 index
    <!--<nav>
        <ul>
            <li>
                <a href="/">home/index</a>
            </li>
            <li>
                <a href="/contact">contact</a>
            </li>
        </ul>
    </nav>-->
</div>
<div>
    首页 <%= name %>
</div>
<p>
    0000000000000000000000000000000000000000000000000000
    00000000000000000000000000
    0000000000000
</p>
</body>
</html>