<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    EJS 页面
</div>
<div>
    8888888888888889233333333333
    <%= name %>
</div>
<p>
    sfddddafhskjfhwerhekwrkkf34hkhk3hk
</p>
</body>
</html>